html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom for footer height */
  margin-bottom: 60px;
  padding-top: 100px;
  min-width: 652px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #CCC;
  text-align: center;
}

.text-muted {
  margin: 20px 0;
}

#columns-accordion-body{
  height:480px;
}

.hidden {
    display: none;
}

.compareButtonRow{
    float:right;
    padding-right: 30px;
    margin-bottom:8px;
}
