html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom for footer height */
  margin-bottom: 60px;
  padding-top: 100px;
  min-width: 1000px;
}

.text-muted {
  margin: 20px 0;
}

#columns-accordion-body{
  height:480px;
}

.hidden {
    display: none;
}

.compareButtonRow{
    float:right;
    padding-right: 30px;
    margin-bottom:8px;
}
